.signUpFormWrapper {
    display: flex;
    width: 80%;
    margin-left: 10%;
    justify-content: center;
    align-items: center;
    height: 500px;
};

.signUpForm {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 15px 10px rgb(238, 238, 238);
    border: 1px solid rgba(242, 242, 242, 0.789);
    width: 40%;
    height: 75%;

    &Title {
        font-weight: bold;
    };

    &Inpt {
        width: 100%;
        padding: 5px;
        border: none;
        border-bottom: 1.5px solid rgb(235, 235, 235);
        width: 190%;
        margin-left: -45%;
        
        &:focus {
            outline: none;
            border-bottom: 1.5px solid black;
        }
    };
};

.signUpFormBtn {
    height: 40px;
    text-align: center;
    background-color: rgb(127, 129, 226);
    border-radius: 10px;
    border: none;
    width: 30%;
    color: white;
    font-weight: 700;

    &:hover{
        background-color: rgb(104, 106, 196);
    };
};