.diagramWrapper {
    display: flex;
    flex-direction: column;
    //width: 80%;
    //margin-left: 10%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    
};

.diagram {
    width: 90%;
    // border: 10px solid red;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 35px rgba(87, 87, 87, 0.2);
};

.marbleWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
};

.marble {
    position: relative;
    display: inline-block;
};

.marble {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;

    transition: box-shadow .3s;
    float: left;
    text-align: center;
    vertical-align: middle;

    //border: 1px solid red;

    color: white;
    font-size: 25px;
    //position: absolute;
    //z-index: 1;
    //position: relative;

    &:hover {
        box-shadow: 0 0 11px rgba(87, 87, 87, 0.2); 
    }
};

.marbleArrow {
    //width: 50px;
    height: 60px;
    //border: 1px solid red;
    margin-left: 2px;
    margin-right: 2px;
    //transform: rotate(180deg)
};

#marbleArrowId {
    transform: rotate(180deg)
};

.showMarblesDiagram {
    //border: 1px solid yellow;
    //width: 80%;
};

#showMarblesDiagramBtn {
    width: 500px;
    height: 40px;
    //margin: 0 0 0 20%;
    padding: 5px;
    color: white;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 15px;
    font-weight: 700;
    // background-color:#e0d3e3;
    background-color: #62bfc7;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 40%;
    border: 1px solid red;
};

.tooltiptext {
    width: 200px;
    height: 100px;

    transition: box-shadow .3s;
    background: rgb(42, 41, 41);
    float: left;
    margin-top: -10px;
    visibility: hidden;
    position: relative;
    border-radius: 10px;
    text-align: center;

    color: white;
    font-size: 13px;

    &:hover {
        visibility: visible;
    }
};

// .marbleHelper {
//     visibility: hidden;   

//     &:hover {
//         visibility: visible;
//     }
// }

.marble:hover .tooltiptext {
    visibility: visible;
    z-index: 10;

}

.blya {
    margin-top: -15px;
}