.tooltiptext {
    width: 300px;
    height: 110px;
    transition: box-shadow .3s;
    background: rgb(42, 41, 41);
    float: left;
    margin-top: -10px;
    visibility: hidden;
    position: relative;
    border-radius: 10px;
    text-align: center;

    color: white;
    font-size: 13px;

    &:hover {
        visibility: visible;
    }
};