.diagramBlockWapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
};

.diagramBlock {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 35px rgba(87, 87, 87, 0.2);
    margin-bottom: 30px;

    &Title {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 15px;
    };

    &SubTitle {
        font-weight: bold;
    };
};

.developerDontHaveDiagrams {
    width: 90%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &Title {
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
    };

    &Img {
        width: 500px;
    };
};